@media (max-width: 987px) {
    body {
        height: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 614px;
        margin: 250px 10px 10px;
    }

    .card .imagens {
        background: url(../images/bg-pattern-desktop.svg) no-repeat 50% 120%;
        background-size: 80%;
        height: 250px;
        width: 614px;
    }

    .card .imagens .box {
        top: -80px;
        left: 60px;
    }

    .card .imagens .descktop {
        top: -200px;
        left: 40px;
    }

    .card .faq {
        padding: 0 90px;
    }

    .card .faq li {
        width: 434px;
    }
}

@media (max-width: 654px) {
    .card {
        margin: 150px 10px 10px;
        width: 375px;
    }

    .card .imagens {
        background: url(../images/bg-pattern-desktop.svg) no-repeat 45px -165px;
        background-size: 280px;
        height: 110px;
        width: 375px;
    }

    .card .imagens .box {
        width: 100px;
        top: -40px;
        left: 40px;
    }

    .card .imagens .descktop {
        width: 280px;
        top: -125px;
        left: 45px;
    }

    .card .faq {
        padding: 30px 30px;
    }

    .card .faq li {
        width: 315px;
    }
}